*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ff00cc;
	background: -webkit-linear-gradient(to top, #333399, #ff00cc);
	background: linear-gradient(to top, #333399, #ff00cc);
	font-family: Georgia;
	height: 100vh;
}
#accordion{
	display: flex;
	width: 70%;
	margin: 2rem auto;
	padding: 0.5rem;
	flex-direction: column;
}
.accord{
	margin: 1rem 0;
}
.accord-head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #343434;
	padding: 0.25rem 1rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	color: #f1f1f1;
}
.accord-head span{
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.3s;
}
.accord-head span:hover{
	transform: scale(1.2);
}
.accord-body{
	display: none;
	border: 2px solid #343434;
	border-top: none;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	padding: 1rem;
}