*{
	margin: 0;
	padding: 0;
}
#gallery{
	width: 70%;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#gallery img{
	width: 30%;
	height: 200px;
	margin: 10px;
}

#gallery img:hover{
	transform: scale(1.2);
}